# ======================
# ENV
# ======================
.env
.env.*
*.env

# ======================
# Python
# ======================
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Logs
# ======================
# *.log

# ======================
# Django
# ======================
# db.sqlite3
# media/
staticfiles/

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store

# ======================
# Secrets / private
# ======================
key.env
key.py
private_data.py
reminders.txt

# ======================
# Cache
# ======================
.cache/
cache/