{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="py-5 bg-img mb-5">
        <div class="bg-light container w-75 py-5 shadow-lg mb-5 mt-5 rounded">
            {% comment %} <h2 class="text-center">Atstatyti slaptažodį</h2> {% endcomment %}
            <div class="col-md-12 text-center">
                <div class="mb-3">
                    <h2>Slaptažodis sekmingai atstatytas!</h2>
                    <h2>Galite prisijungti prie savo paskyros.</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
        