{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="py-5 bg-img mb-5">
  <div class="bg-light container w-75 py-5 shadow-lg mb-5 mt-5 rounded">
      <h2 class="text-center">Pakeisti slaptažodį</h2>
      <form class="bg-light p-4 row" method="post" >
        {% csrf_token %}
        <div class="col-md-12 text-center">
          
          <div class="mb-3">
            <h4>Slaptažodžio pakeitimas</h4>
          </div>
        </div>
        
        <div class="col-md-6 mt-4">
            <div class="mb-3">
                <label for="code" class="form-label">Senas Slaptažodis*</label>
                <input type="password" class="form-control" id="id_old_password"
                name="old_password" placeholder="Įrašykite seną slaptazodį" required>
                {% if form.old_password.errors %}
                <div class="text-danger">{{form.old_password.errors}}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="code" class="form-label">Naujas Slaptažodis*</label>
                <input type="password" class="form-control" id="id_new_password1"
                name="new_password1" placeholder="Įrašykite naują slaptazodį" required>
                {% if form.new_password1.errors %}
                <div class="text-danger">{{form.new_password1.errors}}</div>
                {% endif %}
            </div>
          
            <div class="mb-3">
                <label for="code" class="form-label">Naujas Slaptažodis*</label>
                <input type="password" class="form-control" id="id_new_password2"
                name="new_password2" placeholder="Pakartokite slaptazodį" required>
                {% if form.new_password2.errors %}
                <div class="text-danger">{{form.new_password2.errors}}</div>
                {% endif %}
            </div>
          
            <div class="mt-5">
                <button type="submit" class="btn btn-primary">Patvirtinti</button>
            </div>
        </div>
        
      </form>
    </div>
  </div>
{% endblock content %}